<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>Carga Crédito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">

    <h1>Login standard, a la espera de personalización</h1>

    <form class="needs-validation" [formGroup]="formLog">
      <ion-input label="Correo:" type="email" fill="solid" formControlName="email"></ion-input>
      <ion-text class="error" color="danger" *ngIf="isValidField('email')">
        {{ getErrorByField("email") }}
      </ion-text>

      <ion-input label="Clave:" type="password" fill="solid" formControlName="password"></ion-input>
      <ion-text class="error" color="danger" *ngIf="isValidField('password')">
        {{ getErrorByField("password") }}
      </ion-text>
      
      <ion-button color="tertiary" expand="block" (click)="this.iniciarSesion()">Ingresar</ion-button>
    </form>
    
    <div *ngIf="this.cargaFin == true; then mostrar else esperar"></div>

    <ng-template #mostrar>
      <ion-select label="Usuario rápido" fill="solid" interface="popover" (ionChange)="onQuickUser($event)">
        <ion-select-option *ngFor="let item of arrayTestUsers" [value]="item">{{item.perfil}}</ion-select-option>
      </ion-select>
    </ng-template>

    <ng-template #esperar>
      <ion-select label="Cargando..." fill="outline"></ion-select>
    </ng-template>
    
    <img src="../../assets/" alt="Logo" style="max-width: 50%; max-height: 50%; margin: auto;
    display: block; margin-top: 40px;">

  </div>
</ion-content>
