<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>Administración de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">

    <h1>Complete sus datos para ingresar</h1>

    <form class="needs-validation" [formGroup]="formLog">
      <ion-input class="login" shape="round" label="Correo:" type="email" formControlName="email"></ion-input>
      <ion-text class="error" color="warning" *ngIf="isValidField('email')">
        {{ getErrorByField("email") }}
      </ion-text>

      <ion-input class="login" shape="round" label="Clave:" type="password" formControlName="password"></ion-input>
      <ion-text class="error" color="warning" *ngIf="isValidField('password')">
        {{ getErrorByField("password") }}
      </ion-text>
      
      <ion-button class="enter" color="tertiary" expand="full" (click)="this.iniciarSesion()">
        Iniciar Sesión
        <ion-icon name="arrow-forward-circle-outline" size="large"></ion-icon>
      </ion-button>
    </form>
    
    <p><span>Acceso Rápido</span></p>
    <div *ngIf="this.cargaFin == true; then mostrar else esperar"></div>
    <ng-template #mostrar>
      
      <ion-button fill="outline" class="quick" color="warning" *ngFor="let item of arrayTestUsers" (click)="onQuickUser(item)">
        <ion-icon name="person-circle-sharp"></ion-icon> Perfil: {{item.perfil}}
      </ion-button>
    </ng-template>
    <ng-template #esperar>
      <ion-button class="quick" color="warning">Cargando usuario...</ion-button>
      <ion-button class="quick" color="warning">Cargando usuario...</ion-button>
      <ion-button class="quick" color="warning">Cargando usuario...</ion-button>
      <ion-button class="quick" color="warning">Cargando usuario...</ion-button>
    </ng-template>
  </div>
</ion-content>
