<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="displayOptions()">
        <ion-icon name="options-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--
    <ion-title>
      Listado de usuarios
    </ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>
    <ion-list lines="full" *ngIf="this.loaded">
      <ion-list-header lines="full" color="tertiary">
        <h1>Listado de Usuarios</h1>
      </ion-list-header>

      <div *ngFor="let user of this.listUsers">
        <ion-item lines="none">
          <ion-thumbnail slot="start" style="--border-radius: 4px;">
            <img alt="" src="{{ user.foto }}" />
          </ion-thumbnail>
          <ion-label>{{ user.apellido }} {{ user.nombre }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>DNI: {{ user.dni }}</ion-label>
          <ion-label>Correo: {{ user.correo }}</ion-label>
        </ion-item>
      </div>
      
    </ion-list>

    <ion-list *ngIf="!this.loaded">
      <ion-list-header lines="full" color="tertiary">
        <h1>Listado de Usuarios</h1>
      </ion-list-header>

      <div *ngFor="let skeleton of this.placeholderArray">
        <ion-item lines="none">
          <ion-thumbnail slot="start" style="--border-radius: 4px;">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-skeleton-text [animated]="true" style="width: 60%; height: 15px;"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text [animated]="true" style="width: 100%; height: 32px; margin-top: 20px;"></ion-skeleton-text>
        </ion-item>        
      </div>
    </ion-list>
  </div>

</ion-content>
