#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 100%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 24px;
  line-height: 26px;
}

ion-label {
  font-size: 22px;
}

ion-list {
  background-color: #e78c14;

}

ion-content{
  --background: #e78c14;
  //--overflow: hidden;
}