<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()"><ion-icon name="arrow-undo-outline" size="large"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Alta de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <form class="needs-validation" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="photo-container">
          <ion-button shape="round" [disabled]="!(this.scanAvailable && this.scanSupported)" (click)="scan()" class="scan-button">
            Escaneár DNI
          </ion-button>
        </div>
        <ion-item>
          <ion-input label="Nombre" type="text" labelPlacement="floating" formControlName="nombre"></ion-input>
        </ion-item>
        <ion-text class="error" color="danger" *ngIf="isValidField('nombre')">
          {{ getErrorByField("nombre") }}
        </ion-text>
  
        <ion-item>
          <ion-input label="Apellido" type="text" labelPlacement="floating" formControlName="apellido"></ion-input>
        </ion-item>
        <ion-text class="error" color="danger" *ngIf="isValidField('apellido')">
          {{ getErrorByField("apellido") }}
        </ion-text>
  
        <ion-item>
          <ion-input label="DNI" type="number" labelPlacement="floating" formControlName="dni"></ion-input>
        </ion-item>
        <ion-text class="error" color="danger" *ngIf="isValidField('dni')">
          {{ getErrorByField("dni") }}
        </ion-text>
        
        <ion-item>
          <ion-input label="Correo:" type="email" labelPlacement="floating" formControlName="correo"></ion-input>
        </ion-item>
        <ion-text class="error" color="danger" *ngIf="isValidField('correo')">
          {{ getErrorByField("correo") }}
        </ion-text>
  
        <ion-item>
          <ion-input label="Clave:" type="password" labelPlacement="floating" formControlName="clave"></ion-input>
        </ion-item>
        <ion-text class="error" color="danger" *ngIf="isValidField('clave')">
          {{ getErrorByField("clave") }}
        </ion-text>
  
        <ion-item>
          <ion-input label="Repetir clave:" type="password" labelPlacement="floating" formControlName="confirmarClave"></ion-input>
        </ion-item>
        <ion-text class="error" color="danger" *ngIf="isValidField('confirmarClave')">
          {{ getErrorByField("confirmarClave") }}
        </ion-text>
  
        <ion-item lines="none">
          <div class="photo-container">
            <ion-label position="stacked">Foto de usuario</ion-label>
            <ion-button shape="round" (click)="takePhoto()" class="photo-button">
              <img src="../../../assets/camera.png" style="height: 30px; padding:3px;" alt="">
              &nbsp;Tomar foto
            </ion-button>
          </div>
          
        </ion-item>
        <ion-item lines="none">
          <div class="photo-container" *ngIf="imgFile">
            <img [src]="imgFile.webPath" height="100px">
          </div>
        </ion-item>

        <ion-button color="tertiary" expand="block" type="submit" [disabled]="form.invalid || !imgFile">
          Registrar
        </ion-button>
      </form>
    </ion-card>
  </div>
</ion-content>
